#navigation-bar{
    display: flex;
    justify-content: space-between;
}

#logo {
    height: min-content;
    margin-top: 0;
}

#navigation{
    display: flex;
}

#navigation>a {
    text-decoration: none;
    padding: 8px;
}

#navigation:hover {
    color: red; 
}